.todo-list-item {
  display: flex;
  justify-content: space-between;
}

.todo-list-item-label {
  flex-grow: 1;
  align-self: center;
  cursor: pointer;
  user-select: none;
}

.todo-list-item button {
  width: 30px;
  margin: 3px;
  border: none;
}

.todo-list-item.done .todo-list-item-label {
  text-decoration: line-through;
}

.todo-list-item.important .todo-list-item-label {
  font-weight: bold;
  color: steelblue;
}
